<footer>
    <div id="footer-contato">
      <h2>CONTATO</h2>
  
      <div id="contato">
        <div id="contato-1">
          <p>Acompanhe Adriano nas suas redes sociais</p>
          <ul>
              <a href="https://wa.me//5513996393376?text=Ol%C3%A1%20vim%20do%20seu%20site%21" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span>(13) 99639-3376</span>
              </a>
              <br>
              <a href="https://www.instagram.com/adrianopiemonteoficial/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <span>Instagram</span>
              </a>
              <br>
              <a href="https://www.facebook.com/adrianopiemonte.ii" target="_blank">
                <i class="fa-brands fa-facebook"></i>
                <span>Facebook</span>
              </a>
          </ul>
        </div>
        <div id="contato-2">
          <p>
            <b>Adriano Piemonte</b> – Um homem de <b>Experiência</b>, do
            <b>Compromisso</b> e da <b>Verdadeira Mudança</b>.
          </p>
        </div>
      </div>
    </div>
  </footer>
  