<div id="home">
    <div class="apresentacao">
        <h1>Adriano Piemonte <span style="color: #05C7F2; font-weight: 900;">44</span><span
                style="color: #F2CB05; font-weight: 900;">111</span></h1>
        <br>
        <div class="cargo"><span>VEREADOR <span style="font-weight: 300;">E</span> PRÉ-CANDIDATO</span></div>
        <div class="break"></div>
        <h2 class="uptext">Juntos por um Futuro Melhor</h2>
       <div class="break"></div>
        <p class="subtext">Adriano Piemonte – O Candidato da Experiência, do Compromisso e da Verdadeira Mudança.</p>
    
    </div>
    <div class="img"><img id="imagem-adriano" src="../../../assets/home.png" alt="imagem-adriano"></div>
</div>