<div id="home">
    <h1>Conheça Adriano Piemonte</h1>
    <div class="apresentacao">
        <div class="conteudo">
            <h2>Um candidato de verdadeiro compromisso com nossa cidade!</h2>

            <div class="cargo"><span>VEREADOR <span style="font-weight: 300;">E</span> CANDIDATO À REELEIÇÃO</span></div>

            <h2 class="min-h2">Prezados cidadãos e eleitores,</h2>

            <p>É com grande entusiasmo que apresento a vocês Adriano Piemonte, um homem cuja trajetória de vida e
                dedicação ao serviço público o qualificam como o melhor vereador para representá-los na Câmara
                Municipal.
            </p>
        </div>
        <div class="img"><img id="imagem-adriano" src="../../../assets/home.png" alt="imagem-adriano"></div>
    </div>
</div>