#home {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 4vh;
    font-weight: 600;
    font-size: 4rem;
    color: white;
}

.apresentacao {
    display: flex;
    width: 100%;
    padding-left: 7.938rem;
    padding-right: 7.938rem;
    justify-content: space-between;
    margin-top: 10vh;
}

h2 {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
}

.min-h2 {
    font-size: 1.875rem;
    color: white;
    font-weight: 700;
    margin-top: 2rem;
}

.uptext {
    font-weight: 600;
    font-size: 3em;
    color: white;
}
.subtext {
    font-weight: 400;
    font-size: 2em;
    color: white;
}
.break {
    height: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 55%;
}

span {
    background-color: #F2B705;
    padding: 8px;
    padding-left: 16px;
    font-size: 2.5rem;
    border-radius: 16px;
    font-weight: 500;
    color: white;
}

p {
    font-weight: 400;
    font-size: 1.875rem;
    text-align: justify;
    color: white;
}

.img {
    width: 35%;
    height: 80vh;
}

img {
    width: 100%;
    height: 80%;
}

.img {
    opacity: 0;
    transform: translateX(800px);
    transition: opacity 3s ease, transform 2s ease;
}

.apresentacao {
    opacity: 0;
    transform: translateX(-400px);
    transition: opacity 3s ease, transform 2s ease;
}

.apresentacao.visible,
.img.visible {
    opacity: 1;
    transform: translateY(0);
}



/* Telas Pequenas */
@media screen and (max-width: 1025px) {
    #home {
        margin-top: 12vh;
    }
    
    h1 {
        margin-top: 4vh;
        font-weight: 600;
        font-size: 3rem;
        color: white;
    }

    .apresentacao {
        display: flex;
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
        justify-content: space-between;
        margin-top: 6vh;
    }

    h2 {
        font-size: 2rem;
        color: white;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    
    .min-h2 {
        font-size: 1.6rem;
        color: white;
        font-weight: 700;
        margin-top: 1.6rem;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        width: 57%;
    }

    span {
        background-color: #F2B705;
        padding: 8px;
        padding-left: 16px;
        font-size: 1.8rem;
        border-radius: 16px;
        font-weight: 500;
        color: white;
    }


    p {
        font-weight: 400;
        font-size: 1.6rem;
        text-align: justify;
        color: white;
    }
    
    .img {
        width: 35%;
        height: 80vh;
    }
    
    img {
        width: 100%;
        height: 70%;
    }
    
    .img {
        opacity: 0;
        transform: translateX(800px);
        transition: opacity 3s ease, transform 2s ease;
    }
}

/* Tablets Maiores */
@media screen and (max-width: 835px) {
    #home {
        margin-top: 11vh;
    }

    h1 {
        margin-top: 6vh;
        font-weight: 600;
        font-size: 2.5rem;
        color: white;
    }

}


/* Tablet */
@media screen and (max-width: 769px) {
    #home {
        margin-top: 12vh;
    }
    
    h1 {
        margin-top: 4rem;
        font-weight: 600;
        font-size: 2.5rem;
        color: white;
    }
    
    .apresentacao {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        margin-top: 1.313rem;
    }
    
    h2 {
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
        margin-bottom: 2rem;
        padding-right: 10rem;
        text-align: center;
        padding-left: 10rem;
    }
    
    .min-h2 {
        font-size: 1.2rem;
        color: white;
        font-weight: 700;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
    
    
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    span {
        background-color: #F2B705;
        padding: 8px;
        font-size: 1.4rem;
        border-radius: 16px;
        font-weight: 500;
        color: white;
        text-align: center;
    }
    
    p {
        font-weight: 400;
        font-size: 1.2rem;
        text-align: justify;
        color: white;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    
    .img {
        margin-top: 2rem;
        width: 45%;
        height: 50vh;
    }
    
    img {
        width: 100%;
        height: 75%;
    }

    .uptext{
        font-size: 2.5rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }


}

@media screen and (max-width: 530px) {
    h1 {
        margin-top: 48px;
        font-weight: 600;
        font-size: 2.2rem;
        color: white;
    }
    .uptext{
        font-size: 2.5rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }

}


/* Celular */
@media screen and (max-width: 431px) {
    #home {
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1.25rem;
        color: white;
    }
    
    .apresentacao {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        margin-top: 1.313rem;
    }
    
    h2 {
        font-size: 0.875rem;
        color: white;
        font-weight: 600;
        margin-bottom: 2rem;
        padding-right: 5rem;
        text-align: center;
        padding-left: 5rem;
    }
    
    .min-h2 {
        font-size: 0.75rem;
        color: white;
        font-weight: 700;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
    
    
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    span {
        background-color: #F2B705;
        padding: 8px;
        font-size:0.75rem;
        border-radius: 16px;
        font-weight: 500;
        color: white;
        text-align: center;
    }
    
    p {
        font-weight: 400;
        font-size: 0.75rem;
        text-align: justify;
        color: white;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    
    .img {
        margin-top: 2rem;
        width: 45%;
        height: 40vh;
    }
    
    img {
        width: 100%;
        height: 65%;
    }

}