<div id="home">
    <div class="apresentacao">
        <h1>Adriano Piemonte <span style="color: #05C7F2; font-weight: 900;">44</span><span
                style="color: #F2CB05; font-weight: 900;">111</span></h1>
        <br>
        <div class="cargo"><span>VEREADOR <span style="font-weight: 300;">E</span> PRÉ-CANDIDATO</span></div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, perferendis et. Autem, quasi odio,
            numquam saepe harum tenetur debitis perferendis quisquam quis incidunt animi? Beatae quibusdam.</p>
    </div>
    <div class="img"><img id="imagem-adriano" src="../../../assets/home.png" alt="imagem-adriano"></div>
</div>