* {
  font-family: "Poppins";
}

.politico-container {
  text-align: center;
  align-items: center;
  padding-top: 15rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../assets/backgroundadriano.png); 
  background-size: cover;
  color: white;
  opacity: 0; 
  transition: opacity 0.5s, transform 0.5s;
  padding-bottom: 14rem; 
}

.politico-container > h2 {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 3rem;
}

.politico-container p {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

.cards-grid {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

.icon-background {
  background: #f2b705; 
  display: flex;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  font-size: 3.2vw;
  width: 8vw;
  height: 8vh;
  margin-left: 1vw;
}

.inst {
  background: linear-gradient(to right,#fafafa, #ffffff, #ffffff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      font-family: 'Poppins';
      transition: all 0.5s ease-in-out; 
      
      display: flex;
      justify-content: center;
      scale: 1.2;
  }

  .inst:hover {
      scale:1.3;
      text-decoration: underline;
      transition: all 0.5s ease-in-out;
  }


.card {
  background: #04328C; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  
  min-height: 10vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  color: white;
  transition: all 0.5s ease-in-out; 
  position: relative;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.card h2 {
  font-size: 2vw;
}

.card a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-align: center;
}

img{
  margin-top: 1vw;
  width: 3.5vw;
}

.card-text {
  overflow: hidden;
  flex-grow: 1;
  opacity: 0;
  text-align: justify;
  font-weight: 400;
  font-family: "Poppins";
  transition: opacity 0.5s ease-in-out;
  max-height: 0;
  padding: 0 1rem;
}

.card-text p {
  font-family: 'Poppins';
  font-size: 1vw;
  font-weight: 400;
  text-align: justify;
}

.card.expanded .card-text {
  max-height: 200px; 
  opacity: 1;
  transition: max-height 1s ease-in-out;
}

.flecha {
  transition: transform 0.3s ease;
}

.card.expanded .flecha {
  transform: rotate(180deg); 
}
/* Media queries for responsiveness */
@media (max-width: 1200px) {

  .icon-background {
    font-size: 3.2vw;
    width: 9vw;
    height: 7vh;
    margin-left: 1vw;
  }

  .card h2 {
    font-size: 1.8vw;
  }

  .card-text p {
    font-size: 1.2vw;
  }
  
}

@media (max-width: 768px) {
  .icon-background {
    font-size: 4vw;
    width: 11vw;
    height: 5vh;
    margin-left: 1vw;
  }

  .card h2 {
    font-size: 2vw;
  }

  .card-text p {
    font-size: 1.6vw;
  }
}
