<div class="politico-container">
  <h2>O Trabalho de Adriano na Câmara Municipal</h2>
  <p>Na Câmara Municipal, Adriano Piemonte tem se destacado por<br> seu trabalho incansável e eficaz:</p>
  <div class="cards-grid">
    <div class="card" *ngFor="let proposta of propostas">
      <div class="card-header">
        <div class="icon-background">{{ proposta.icone }}</div>
        <h2>{{ proposta.title }}</h2>
        <a id="link">
          <img src="../../../assets/Expand_down.png" alt="Flecha para abrir os cards" class="flecha">
        </a>
      </div>
      <div class="card-text">
        <p [innerHTML]="proposta.text"></p>
      </div>
    </div>
  </div>
</div>
