<header>
  <div class="logo">
    <a href="#home" (click)="scrollTo($event, 'home')"><img src="../../../assets/logo.png" alt="logo"></a>
  </div>
  <nav id="navbar">
    <input type="checkbox" name="menu-trigger" id="menu-trigger">
    <label for="menu-trigger" id="menu-lines">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="links">
      <div class="menu-logo"><img class="img-logo" src="../../../assets/logo.png" alt="logo"></div>
      <li id="home-link"><a href="#home" (click)="scrollTo($event, 'home')">HOME</a></li>
      <li id="sobre-link"><a href="#sobre" (click)="scrollTo($event, 'sobre')">SOBRE MIM</a></li>
      <li><a href="#">DESTAQUES</a></li>
      <li><a href="#">COMPROMISSO</a></li>
      <li><a href="#">CONTATO</a></li>
    </ul>
    <div id="overlay"  (click)="closeMenu()"></div> 
  </nav>
</header>
