<div id="compromisso">
    <h1 class="fade-in"><span style="font-weight: 400;">O FUTURO COM</span> ADRIANO PIEMONTE</h1>
    <p class="fade-in">Adriano Piemonte não é apenas um político experiente, mas também um visionário com planos concretos para um
        futuro melhor para a cidade de Santos. Sua experiência no serviço público e no esporte, combinada com seu
        envolvimento em projetos sociais, o tornam o candidato ideal para continuar a trabalhar por um futuro de
        progresso e justiça para todos.</p>
    <div class="porque fade-in"><span>POR QUE ESCOLHER <strong>ADRIANO PIEMONTE</strong>?</span></div>
    <p class="oferece fade-in">Adriano Piemonte é um candidato que oferece:</p>
    <div class="oferecimentos">
        <div class="itens-oferecimentos fade-in">
            <div class="borda"><img src="../../assets/compromisso1.png" alt="Compromisso 1"></div>
            <div class=itens-text>
                <h2>Experiência Diversificada</h2>
                <p class="itens-p">De bacharel a policial civil, passando por treinador de futebol e líder comunitário.
                </p>
            </div>
        </div>
        <div class="itens-oferecimentos fade-in">
            <div class="borda"><img src="../../assets/compromisso2.png" alt="Compromisso 2"></div>
            <div class=itens-text>
                <h2>Histórico de Conquistas</h2>
                <p class="itens-p">Um recorde impressionante de mais de 1300 requerimentos, 2000 indicações e 75
                    projetos de lei, com 11 já sancionados.</p>
            </div>
        </div>
        <div class="itens-oferecimentos fade-in">
            <div class="borda"><img src="../../assets/compromisso3.png" alt="Compromisso 3"></div>
            <div class=itens-text>
                <h2>Compromisso Social</h2>
                <p class="itens-p">Fundador do Natal Solidário e ativo em diversas organizações comunitárias.</p>
            </div>
        </div>
        <div class="itens-oferecimentos fade-in">
            <div class="borda"><img src="../../assets/compromisso4.png" alt="Compromisso 4"></div>
            <div class=itens-text>
                <h2>Visão para o Futuro</h2>
                <p class="itens-p">Um plano claro e um compromisso genuíno com a melhoria contínua do nosso município.
                </p>
            </div>
        </div>
        <div class="futuro">
            <img class="fade-in" src="../../assets/adriano-futuro.png" alt="">
            <div class="futuro-text">
                <h3 class="fade-in">JUNTOS POR UM FUTURO MELHOR</h3>
                <p class="futuro-p fade-in">Vamos caminhar juntos por um futuro onde a justiça, a segurança e o desenvolvimento estejam sempre em
                    primeiro lugar. Com Adriano Piemonte, você pode ter a certeza de que suas preocupações serão ouvidas
                    e suas necessidades serão atendidas com seriedade e competência.
                </p>
                <br><br>
                <p class="futuro-p fade-in">Agradecemos a cada um de vocês pelo apoio e pela confiança.
                </p>
            </div>
        </div>
    </div>

</div>