<div id="sobre">
    <div class="quem"><span>QUEM É <strong>ADRIANO PIEMONTE</strong>?</span></div>
    <div class="conteudo">
        <div class="conteudo1">
            <div class="img"><img src="../../../assets/conteudo1.png" alt="conteudo 1"></div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit nulla magni qui autem voluptates, ab
                deleniti architecto! Voluptate nisi repellendus quisquam autem pariatur iusto dolor sint quidem?
                Laudantium, voluptatem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum eaque laborum nam esse optio
                numquam nesciunt voluptates, minima, nisi architecto asperiores sit fugiat iure inventore animi, dolores
                eius recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis minima minus fugit
                commodi accusantium iure obcaecati rem delectus. Fugiat 
            </p>
        </div>
        <div class="conteudo2">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit nulla magni qui autem voluptates, ab
                deleniti architecto! Voluptate nisi repellendus quisquam autem pariatur iusto dolor sint quidem?
                Laudantium, voluptatem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum eaque laborum nam esse optio
                numquam nesciunt voluptates, minima, nisi architecto asperiores sit fugiat iure inventore animi, dolores
                eius recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis minima minus fugit
                commodi accusantium iure obcaecati rem delectus. Fugiat 
            </p>
            <div class="img"><img src="../../../assets/conteudo2.png" alt="conteudo 1"></div>
        </div>
    </div>
</div>