<div id="sobre">
    <div class="quem fade-in"><span>QUEM É <strong>ADRIANO PIEMONTE</strong>?</span></div>
    <div class="conteudo">
        <div class="conteudo1 fade-in">
            <p>
                Adriano Piemonte é um exemplo de integridade, experiência e dedicação. Casado e pai de três meninos, ele
                é um homem de família, com uma sólida formação em Direito e uma carreira exemplar no funcionalismo
                público.
            </p>
            <br>
            <p>
                Sua jornada começou como agente penitenciário e se expandiu para a Polícia Militar, onde desenvolveu
                habilidades essenciais para a segurança e o bem-estar da comunidade. Há 20 anos, ele atua na Polícia
                Civil, enfrentando desafios diários para garantir justiça e segurança para todos.

            </p>
        </div>
        <div class="fotos fade-in">
            <img src="../../../assets/adriano-serio.png" alt="Adriano Sério"> <img class="margin-img"
                src="../../../assets/adriano-gala.png" alt="Adriano Gala">
        </div>
        <div class="conteudo2 fade-in">
            <p>
                Mas a trajetória de Adriano não se limita à segurança pública. Ele também é um apaixonado pelo
                futebol, com passagens marcantes como treinador nas categorias de base do Santos, Água Santa,
                Portuguesa Santista, e no time profissional do Jabaquara. Sua experiência no esporte demonstra seu
                espírito de liderança e seu compromisso com o desenvolvimento de jovens talentos.
            </p>
        </div>
        <div class="fotos fade-in">
            <img src="../../../assets/adriano-boleiro.png" alt="Adriano Sério"> <img class="margin-img"
                src="../../../assets/adriano-galera.png" alt="Adriano Gala">
        </div>
        <div class="conteudo3 fade-in">
            <p>
                Além disso, Adriano é vice-presidente do Clube Portuários, um papel que reforça seu envolvimento com
                a comunidade e sua capacidade de liderança. Ele também é filiado ao Rotary Gonzaga, onde participa
                ativamente de projetos sociais e comunitários.
            </p>
            <br>
            <p>
                Adriano é o fundador e mantenedor do projeto Natal Solidário, uma iniciativa que já auxiliou
                centenas de famílias em nossa cidade, oferecendo apoio e esperança durante o período das festas de
                fim de ano.
            </p>
        </div>
    </div>