#sobre {
    margin-top: 10.125rem;
    margin-left: 2.5.75rem;
    margin-right: 4.75rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

span{
    background-color: #F2B705;
    border-radius: 16px;
    padding: 8px;
    padding-left: 16px;
    font-size: 3.125rem;
    color: white;
    font-weight: 400;
}

p{
    font-size: 2.188rem;
    font-weight: 400;
    text-align: justify;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.625rem;
}

.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fotos img {
    margin-left: 3rem;
    width: 40%;
    height: 70vh;
}

.conteudo1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.625rem;
}

.conteudo2 {
    margin-top: 4.625rem;
    margin-bottom: 4.625rem;
    display: flex;
}

.conteudo3 {
    display: flex;
    flex-direction: column;
    margin-top: 4.625rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Telas Pequenas */
@media screen and (max-width: 1025px) {
    #sobre {
        margin-top: 8rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    span{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.8rem;
    }
    
    .conteudo {
        margin-top: 4rem;
    }
    
    .fotos img {
        margin-left: 2rem;
        width: 40%;
        height: 50vh;
    }

    .conteudo {
        margin-top: 8vh;
    }

    .conteudo1 {
        margin-bottom: 4rem;
    }
    
    .conteudo2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
    .conteudo3 {
        margin-top: 4rem;
    }
}

/* Tablet */
@media screen and (max-width: 769px) {
    #sobre {
        margin-top: 6rem;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span{
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }
    
    .conteudo {
        margin-top: 2.5rem;
    }
    
    .fotos img {
        margin-left: 2.5rem;
        width: 40%;
        height: 35vh;
    }

    .conteudo {
        margin-top: 2.5rem;
    }

    .conteudo1 {
        margin-bottom: 2.5rem;
    }
    
    .conteudo2 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .conteudo3 {
        margin-top: 2.5rem;
    }
}

/* Celular */
@media screen and (max-width: 431px) {
    #sobre {
        margin-top: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span{
        font-size: 1rem;
    }

    p{
        font-size: 0.75rem;
    }
    
    .conteudo {
        margin-top: 2rem;
    }
    
    .fotos img {
        margin-left: 2rem;
        width: 144px;
        height: 179px;
    }

    .conteudo {
        margin-top: 2.5rem;
    }

    .conteudo1 {
        margin-bottom: 2.5rem;
    }
    
    .conteudo2 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .conteudo3 {
        margin-top: 2.5rem;
    }
}