<div id="sobre">
    <div class="quem fade-in"><span>QUEM É <strong>ADRIANO PIEMONTE</strong>?</span></div>
    <div class="conteudo">
        <div class="conteudo1 fade-in">
            <div class="img"><img src="../../../assets/conteudo1.png" alt="conteudo 1"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sunt cupiditate! Debitis ad molestiae veniam quibusdam vitae nihil explicabo, pariatur nulla esse praesentium nesciunt corrupti? Nulla velit distinctio numquam tempora!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores exercitationem tenetur accusantium sapiente odit qui similique ex nobis repellat, perferendis ipsa possimus ratione modi ducimus. Voluptatum accusamus consectetur aliquid aut!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur architecto ducimus sint deleniti quas, qui, voluptatibus minima alias facilis neque illo magni eligendi. Ab maxime voluptas cupiditate et ipsum! Eligendi.
            </p>
        </div>
        <div class="conteudo2 fade-in">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sunt cupiditate! Debitis ad molestiae veniam quibusdam vitae nihil explicabo, pariatur nulla esse praesentium nesciunt corrupti? Nulla velit distinctio numquam tempora!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores exercitationem tenetur accusantium sapiente odit qui similique ex nobis repellat, perferendis ipsa possimus ratione modi ducimus. Voluptatum accusamus consectetur aliquid aut!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur architecto ducimus sint deleniti quas, qui, voluptatibus minima alias facilis neque illo magni eligendi. Ab maxime voluptas cupiditate et ipsum! Eligendi.
            </p>
            <div class="img"><img src="../../../assets/conteudo2.png" alt="conteudo 1"></div>
        </div>
    </div>
</div>
