#sobre {
    margin-top: 10vh;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.quem {
    background-color: #F2B705;
    border-radius: 16px;
    padding: 8px;
    padding-left: 16px;
    font-size: 3em;
    color: white;
    font-weight: 400;
}

.conteudo {
    margin-top: 8vh;
}

.conteudo1 {
    display: flex;
    font-size: 2.15em;
    text-align: justify;
    font-weight: 400;
}

.conteudo1 p {
    margin-left: 50px;

}

.conteudo2 {
    margin-top: 5vh;
    display: flex;
    font-size: 2.15em;
    text-align: justify;
    font-weight: 400;
}

.conteudo2 p {
    margin-right: 50px;
}

.fade-in {
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Telas Pequenas */
@media screen and (max-width: 1025px) {
    #sobre {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .quem {
        background-color: #F2B705;
        border-radius: 16px;
        padding: 8px;
        padding-left: 16px;
        font-size: 2.5em;
        color: white;
        font-weight: 400;
    }

    img {
        width: 400px;
        height: 435px;
    }

    .conteudo {
        margin-top: 8vh;
    }

    .conteudo1 {
        display: flex;
        font-size: 1.8em;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo1 p {
        margin-left: 50px;

    }

    .conteudo2 {
        margin-top: 5vh;
        display: flex;
        font-size: 1.8em;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo2 p {
        margin-right: 50px;
    }
}

/* Tablet */
@media screen and (max-width: 769px) {
    #sobre {
        margin-top: 9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quem {
        background-color: #F2B705;
        border-radius: 8px;
        padding: 8px 10px 8px 10px;
        font-size: 1.8rem;
        color: white;
        font-weight: 400;
    }

    .conteudo {
        margin-top: 3vh;
        ;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 250px;
        height: 285px;
    }

    .conteudo1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo1 p {
        margin-top: 2vh;
        margin-left: 0px;
    }

    .conteudo2 {
        margin-top: 5vh;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo2 p {
        margin-top: 2vh;
        margin-right: 0;
    }
}

/* Celular */
@media screen and (max-width: 431px) {
    #sobre {
        margin-top: 9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quem {
        background-color: #F2B705;
        border-radius: 8px;
        padding: 8px 10px 8px 10px;
        font-size: 1rem;
        color: white;
        font-weight: 400;
        width: 262px;
    }

    .conteudo {
        margin-top: 3vh;
        ;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 150px;
        height: 185px;
    }

    .conteudo1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.75rem;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo1 p {
        margin-top: 2vh;
        margin-left: 0px;
    }

    .conteudo2 {
        margin-top: 5vh;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 0.75rem;
        text-align: justify;
        font-weight: 400;
    }

    .conteudo2 p {
        margin-top: 2vh;
        margin-right: 0;
    }
}